{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ client_list.nombre }}</h1>

    <!-- Clients Section -->
    <h2>Clientes</h2>

    <!-- Button to send message to all clients -->
    <div class="mb-3">
        <h2>Enviar Mensaje a los clientes</h2>
        <form action="{{ url_for('send_message_to_clients', lista_id=client_list.id) }}" method="POST">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-primary">Enviar Mensaje a los clientes</button>
        </form>
    </div>

    <!-- Clients List -->
    <ul class="list-group mb-4">
        {% for client in clients %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ client.nombre_completo }} ({{ client.celular }})
            <form action="{{ url_for('remove_client_from_list', lista_id=client_list.id, cliente_id=client.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-danger btn-sm">Eliminar de la lista</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <!-- Add Client Section -->
    <h2>Añadir cliente</h2>
    <form action="{{ url_for('add_client_to_list', lista_id=client_list.id) }}" method="POST" class="mb-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="cliente_id">Seleccionar Cliente:</label>
            <select name="cliente_id" id="cliente_id" class="form-control">
                {% for cliente in all_clients %}
                <option value="{{ cliente.id }}">{{ cliente.nombre_completo }} ({{ cliente.celular }})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Añadir</button>
    </form>

    <!-- Rename List Section -->
    <h2>Renombrar lista</h2>
    <form action="{{ url_for('rename_client_list', lista_id=client_list.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="new_name">Nuevo Nombre:</label>
            <input type="text" name="new_name" id="new_name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-warning">Renombrar</button>
    </form>

    <!-- Back to All Lists Link -->
    <a href="{{ url_for('view_all_client_lists') }}" class="btn btn-secondary mt-4">Back to All Lists</a>
</div>
{% endblock %}
            