{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">All Client Lists</h1>

    <!-- Client Lists -->
    <ul class="list-group mb-4">
        {% for list in client_lists %}
        <li class="list-group-item">
            <a href="{{ url_for('view_client_list', lista_id=list.id) }}">{{ list.nombre }}</a>
        </li>
        {% endfor %}
    </ul>


<!-- Bootstrap button for creating a new client list -->
<a href="{{ url_for('nuevo_lista') }}" class="btn btn-success mt-3">Create New Client List</a>

    <!-- Back to Home Button -->
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home</a>
</div>
{% endblock %}
