<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
</head>
<body>
    <h1>Agregar Producto</h1>
    <form action="{{ url_for('nuevo_producto') }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required><br>

        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" required><br>

        <button type="submit">Agregar Producto</button>
    </form>
</body>
</html>
