<!-- Transactions List -->
<div class="col-12 bg-light p-3 mt-4">
    <h4>Transactions</h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
